<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AtacFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WindowsFormsApp3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <AtacFeed.Properties.Settings>
      <setting name="UrlVehicle" serializeAs="String">
        <value>https://romamobilita.it/sites/default/files/rome_rtgtfs_vehicle_positions_feed.pb</value>
      </setting>
      <setting name="UrlTrip" serializeAs="String">
        <value>https://romamobilita.it/sites/default/files/rome_rtgtfs_trip_updates_feed.pb</value>
      </setting>
      <setting name="DeltaTSec" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Duplicati" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Vuote" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalvaCSV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SalvaXlsx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalvaGrafico" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalvaMonitoraggio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalvaAlert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RadioRaggruppamento" serializeAs="String">
        <value>radioNonRaggruppare</value>
      </setting>
      <setting name="UrlAlert" serializeAs="String">
        <value>https://romamobilita.it/sites/default/files/rome_rtgtfs_service_alerts_feed.pb</value>
      </setting>
      <setting name="StoricoAlert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckTrip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UrlDownload" serializeAs="String">
        <value>https://github.com/EnricoTolomei/GTFS_RSM/releases/latest</value>
      </setting>
      <setting name="UrlHome" serializeAs="String">
        <value>https://github.com/EnricoTolomei/GTFS_RSM</value>
      </setting>
      <setting name="tabGrigliaOld" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtraSetting" serializeAs="String">
        <value>False</value>
      </setting>
    </AtacFeed.Properties.Settings>
    <WindowsFormsApp3.Properties.Settings>
      <setting name="UrlVehicle" serializeAs="String">
        <value>https://romamobilita.it/sites/default/files/rome_rtgtfs_vehicle_positions_feed.pb</value>
      </setting>
      <setting name="UrlTrip" serializeAs="String">
        <value>https://romamobilita.it/sites/default/files/rome_rtgtfs_trip_updates_feed.pb</value>
      </setting>
    </WindowsFormsApp3.Properties.Settings>
  </userSettings>
</configuration>
