<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="30.0.1" targetFramework="net48" />
  <package id="DG.AdvancedDataGridView" version="1.2.28103.10" targetFramework="net48" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net472" />
  <package id="FastMember" version="1.5.0" targetFramework="net472" />
  <package id="GTFS" version="3.0.0-pre005" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Octokit" version="7.0.1" targetFramework="net48" />
  <package id="protobuf-net" version="3.2.26" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.2.26" targetFramework="net48" />
  <package id="ScottPlot" version="4.1.65" targetFramework="net48" />
  <package id="ScottPlot.WinForms" version="4.1.65" targetFramework="net48" />
  <package id="Serilog" version="3.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.10.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>